[2018-05-17 11:35] kaiso opened #1 "implement @OneToOne association"
use the same code as @OneToMany when possible

[2018-05-17 14:31] kaiso opened #2 "add wiki page to explain how to use $lookup with relmongo based associations"

[2018-05-24 12:46] #1 closed

[2018-05-24 12:47] kaiso commented on #1
Fixed

[2018-05-28 09:53] kaiso opened #4 "add the collection attribute when storing the reference in the database"
this will allow identifying referenced object collection when browsing the database

[2018-05-28 09:54] kaiso opened #5 "transform the reference type from ObjectId to Object in OneToOne association"

[2018-05-28 12:32] kaiso commented on #5
fixed and merged into master

[2018-05-28 12:32] #5 closed

[2018-05-28 14:11] kaiso commented on #4
Fixed, the property was named _relmongo_target

[2018-05-28 14:11] #4 closed

[2018-06-13 08:07] kaiso opened #8 "fix loading of OneToOne association in case of lookup aggregations"
when a query is a lookup aggregation do not load OneToOne association twice because it's already loaded by the lookup pipeline.

[2018-06-14 09:59] kaiso commented on #8
#9

[2018-06-14 09:59] #8 closed

[2018-06-14 21:40] mancini0 opened #10 "Exception encountered when saving relmongo annotated entity via Spring Data Repository"
[code]
[code]

[code]
[code]

[code]
[code]
[code]

[code]

[2018-06-15 08:40] kaiso commented on #10
Thank you for posting this issue.
Currently RelMongo is compatible with spring-boot 1.5.X versions so with spring-data-mongodb 1.10.X.
In the version 2.0 the compatibility will be ported to spring-boot 2.X and  compatible spring-data-mongo-dependency.

For the moment you can solve your problem by **excluding the spring-data-mongodb** from spring boot dependencies and add this dependency to your pr

[2018-06-15 12:52] kaiso commented on #10
Hi a new pre-release ( 2.0.0-RC1) to work with spring-boot 2.X.X was published please see [compatibility matrix](https://github.com/kaiso/relmongo/wiki/Compatibility-Matrix)

[2018-06-15 14:15] mancini0 commented on #10
Thanks, I am able to bring the app up using either 1.5.3 or 2.0.2 when following the compatability matrix.

[2018-06-15 14:15] #10 closed

[2018-06-15 14:30] mancini0 opened #11 "Exception encountered upon retrieval of relmongo annotated entity from repository"
When creating some "app" entities,  and assigning a few to a user entity,

<app1 = new Application(...), app2=new Application(...), app3 =... omitted for brevity>

[code]

My user entity:
[code]

My app entity:

[code]

Without the @EnableRelationalMongo annotation, I see the apps are persisted as expected, using spring data rest I see my 3 apps at the /apps endpoint, and at the /users endpoint, I

[2018-06-15 15:18] kaiso commented on #11
Hello Ok I'm trying to reproduce the issue

[2018-06-15 15:54] kaiso commented on #11
@mancini0
to fix your problem in the @Document annotation specify the collection name like this :

``@Document(collection = "collectionName")``

In the next release I will manage that it takes the default name from the Class name

[2018-06-15 17:33] mancini0 commented on #11
Cool, thanks for your quick responses. I'm looking forward to playing with this framework this weekend.

[2018-06-15 18:28] kaiso commented on #11
Thank for using RelMongo, please feel free to submit issues.

I released a new version 2.0.0-RC2 which fix this issue, please close it if your tests are concluding.

[2018-06-16 22:40] kaiso opened #13 "implement persist cascading type"
be able to persist a child document when persisting a parent document using the cascade persist type

[2018-06-17 15:24] #2 closed, assigned to nobody

[2018-06-20 22:11] kaiso commented on #11
Fixed in 2.0.0-RC2

[2018-06-20 22:11] #11 closed

[2018-07-02 15:07] halimpuckjava opened #14 "implement cascade delete"

[2018-07-02 16:28] kaiso commented on #14
Hello, Thank you for reporting this enhancement feature
 I will change this to implement cascade delete because I already created an issue for
cascade persist

[2018-07-04 13:52] kaiso commented on #13
delivered in the following versions :
- [v2.0.0](https://github.com/kaiso/relmongo/releases/tag/v2.0.0)
- [v1.1.0](https://github.com/kaiso/relmongo/releases/tag/v1.1.0)

[2018-07-04 13:52] #13 closed

[2018-07-04 14:37] kaiso opened #17 "should not lazy load aggregation results"

[2018-07-06 13:04] kaiso commented on #17
delivered in the following versions :
- [v2.1.0](https://github.com/kaiso/relmongo/releases/tag/v2.1.0)
- [v1.2.0](https://github.com/kaiso/relmongo/releases/tag/v1.2.0)

[2018-07-06 13:04] #17 closed

[2018-07-06 13:04] kaiso commented on #14
delivered in the following versions :
- [v2.1.0](https://github.com/kaiso/relmongo/releases/tag/v2.1.0)
- [v1.2.0](https://github.com/kaiso/relmongo/releases/tag/v1.2.0)

[2018-07-06 13:04] #14 closed

[2018-07-09 09:26] kaiso opened #21 "child document is not loaded when the joinproperty and the field have the same name"

[2018-07-09 20:55] kaiso commented on #21
delivered in the following versions :
- [v2.1.1](https://github.com/kaiso/relmongo/releases/tag/v2.1.1)
- [v1.2.2](https://github.com/kaiso/relmongo/releases/tag/v1.2.2)

[2018-07-09 20:55] #21 closed

[2018-08-09 13:56] halimpuckjava opened #25 "suggestion"
hi good work,

1. i suggest to add more attributes for collection mapping (exp : orphanRemoval, mappedBy),

2. there is a bug problem when use bidirection relationship (exp : person -> cars , car -> own person) when persist data there an exception for rerurcive data (spring boot + jackson)  because the 2 side off relationship refrences recursivly one to other (person -> list cars  & car -> person

[2018-08-10 09:09] kaiso commented on #25
Hello

Thank you for submitting the issue, don't forget to star the repository if you enjoy!.
- Regarding mappedBy, I have been working on it since a few days , in fact due to absence of persistence context and transactional cache it's a little bit difficult to implement it but I think it should be a manner to achieve this may be not like jpa but with a non-full featured version.
- Regarding orpha

[2018-08-10 10:54] halimpuckjava commented on #25
hi

how about if i referrence a car owner (person) so when persist data (with spring boot) i  have n exception of recusisvity between cars and person (person -> list cars -> each car -> person -> list cars -> ....) it possible to not reference a person from car entity but in this case you loose the info about the owner of car from car entity, so how to resole this probleme of recursivity data betw

[2018-08-10 14:00] kaiso commented on #25
hi

that's what I said in my comment the only solution is the mappedBy and I'm working on it

[2018-08-12 11:03] halimpuckjava commented on #25
hi

i try to resolve this exception with @JsonView @JsonManaged @JsonBackRef but the second side of relationship is broken (exp : car has no ref for owner = person)  but this not what i want

[2018-08-13 15:28] kaiso commented on #25
hi

I will deliver a release candidate version soon to fix your problem. I will drop a comment here to inform you.

[2018-08-15 17:46] kaiso commented on #25
Hello I delivered the version `2.2.0-RC1`
The version introduces the mappedBy property to enable bidirectional associations.
To use the OneToOne bidirectional mapping follow the following example:
[code]

To use the OneToMany bidirectinal mapping follow the following example:
[code]

Please let me know if all works well for you, do not forget to star the repository.
Feel free to submit the issues

[2018-08-17 13:59] halimpuckjava commented on #25
hi

first i try to make s demo with @OntoMany (Person)-> @ManyToOne (Car) (jdk 11 , kotlin 1.2.60, spring boot 2.0.4 + reactive mongodb driver)

@Document
@TypeAlias(value = "car")
data class Car(@Id var id: String? = null,
               var marque: String? = null,
               @ManyToOne(mappedBy = "cars") var owner: Person? = null) {

    override fun equals(other: Any?) = if(other is Car) id

[2018-08-17 14:12] halimpuckjava commented on #25
with 2 senarion (decomment the seccond line and comment the first)
  .   ____          _            __ _ _
 /\\ / ___'_ __ _ _(_)_ __  __ _ \ \ \ \
( ( )\___ | '_ | '_| | '_ \/ _` | \ \ \ \
 \\/  ___)| |_)| | | | | || (_| |  ) ) ) )
  '  |____| .__|_| |_|_| |_\__, | / / / /
 =========|_|==============|___/=/_/_/_/
 :: Spring Boot ::        (v2.0.4.RELEASE)

2018-08-17 15:03:53.242  INFO 7472 --- [

[2018-08-17 14:15] halimpuckjava commented on #25
well i tested the @OneToOne -> @OneToOne and i send a report
i expected to my report i clear.

good luck.

[2018-08-17 22:41] kaiso commented on #25
Hi

The exception is clear if you look at the stack trace :
ˋˋˋjava
io.github.kaiso.relmongo.exception.RelMongoConfigurationException: Missing or misconfigured @JoinProperty annotation on Field cars from Class class com.spring.mongodb.demo.demo.entity.Person
at io.github.kaiso.relmongo.util.AnnotationsUtils.getJoinProperty(AnnotationsUtils.java:45) ~[relmongo-2.2.0-RC1.jar:na]ˋˋˋ

you are missing

[2018-08-18 11:34] halimpuckjava commented on #25
hi

sory you are right i make this demo quickly so in not see what i code

1. person collection persist but there no persist of cascade for cars documents (if i use personRepositoty.save(person)

2. i i use carRepositoty.save(car) -> car persist with owner (person) success but person list cars still empty in person document (no reference for cars)

![sans titre](https://user-images.githubuserconte

[2018-08-19 09:36] #25 closed

[2018-08-19 09:42] halimpuckjava opened #28 "relmongo improvement"
hi

its work (i forgot to instantiate list cars in person document) however after persistence data , in mongodb car document have no info about owner (no reference for person in car document)

![sans titre](https://user-images.githubusercontent.com/20538231/44307564-a26fcc80-a3a4-11e8-92ae-8aa48ec758fe.jpg)

[2018-08-19 12:38] kaiso commented on #28
hello,

it’s normal, that’s the philosophy of the mappedBy, the relation is persisted in the database only in one side, RelMongo is able to retrieve both sides of the bidirectional relation using only the reference in one side.

So it’s not a bug.

[2018-08-19 19:28] halimpuckjava commented on #28
hi

1. i know and i not said its a bug, just i want how can ref the first side (person) from second side  (car) of relationship (ref person from car in our exemple its always NULL),

2. whit in hibernate sql database (expmemple : mysql) work fine (in car table i have the primary key of person as foreign key) whats deff with mongodb ??

[2018-08-19 20:39] kaiso commented on #28
hi,
in hibernate if you have the reference in car table with foreign key, you do not have the reference in the person table, the reference is only persisted in one side. so it's the same .

if you have other questions please close this issue and join chat on gitter (https://gitter.im/relmongo/general), I will be pleased to answer your questions, and only submit issues when they are really ones.

F

[2018-08-20 09:12] #28 closed

[2018-08-26 08:54] halimpuckjava opened #29 "RelMongo improvement"
hi

i have one issue (A) and one suggestion (B)

A. with last exemple (car & person), when load person document
@OneToMany(cascade = CascadeType.ALL, fetch = FetchType.XXX)
@JoinProperty(name = "cars")
List<Car> cars;

1. XXX = EAGER : person loaded with cars and print in console with success
2. XXX = LAZY : person load (include cars) with success, but when print this person in console, an excepti

[2018-09-06 08:42] kaiso commented on #29
Hello,

I couldn't reproduce the issue you described, can you give me the complete example you tested plz?

[2018-09-06 14:29] kaiso commented on #29
the 2.2.1 version was release please test and give your feedback, you can close the issue if your tests are concluant.
regarding the orphanRemoval, you can submit a new dedicated issue.
Thank you

[2018-09-07 13:55] #29 closed

[2018-09-07 14:00] halimpuckjava opened #31 "add orphanRemoval attribute to @OneToMany and @OneToOne to remove associated document"
hi

with version 2.2.1, bug fixed, its works fine with fetch = LAZY.

i not see any implemenation of orphanRemoval in this version

[2018-09-08 20:37] guptaavi opened #32 "java.lang.IllegalArgumentException when @Id field is null but type of @Id field is String"
I have a child Document that has an @Id field of type String (as opposed to ObjectId). As per the documentation, if the related child document has no id ( does not exist in the database) it needs to be created and automatically linked to the parent document by RelMongo.
When I try to save the child document, I get a  java.lang.IllegalArgumentException "Can not set java.lang.String field xxx.Person

[2018-09-09 18:10] kaiso commented on #32
Hi,

Thank you for reporting the issue, it will be fixed in the next release of RelMongo. Until that you can use Ids of type ObjectId.

[2018-09-21 10:19] kaiso commented on #32
the version 2.3.0 of RelMongo which fixes this issue was released
see https://github.com/kaiso/relmongo/releases/tag/v2.3.0
please close the issue if your tests are concluding

[2018-09-21 10:20] kaiso commented on #31
The version 2.3.0 of RelMongo which includes this feature was released
see https://github.com/kaiso/relmongo/releases/tag/v2.3.0
please close this issue

[2018-09-21 15:10] reallinfo opened #34 "logo contribution"
Hello @kaiso

I wanted to design a new logo for relmongo. I think this looks more modern. I just want to help. I can send you a pr if you want. Also, Please tell me if there is a place you want to customize. I will wait for feedback.

Have a nice day!

![mongo2](https://user-images.githubusercontent.com/36298335/45889554-6f689080-bdc9-11e8-9bdf-4f5e35e8b421.jpg)

[2018-09-21 16:34] kaiso commented on #34
Hello @reallinfo Thank you very much for your interest in RelMongo.
I really like your design, can you propose another with a unique color so that we can choose between your first logo and the second.

Thank you.

[2018-09-22 18:00] halimpuckjava commented on #31
hi

i will try it soon and give you a feedback

thanks

[2018-09-22 18:00] #31 closed

[2018-09-25 18:15] guptaavi commented on #32
Works as expected now. Thanks! Closing issue #32

[2018-09-25 18:15] #32 closed

[2018-10-02 21:05] kaiso commented on #34
due to long time without answer I will close the issue, you can join chat on gitter if you wanna talk about this issue.

[2018-10-02 21:05] #34 closed

[2018-10-31 10:52] rshibley opened #35 "Creating a reference inside Subcollection"
I'm trying to reference an item inside a subcollection and it's not working. Collection and Subcollection are embedded.

Does this work?

Document
   +Collection
        +Subcollection
               +Reference

[2018-11-04 16:43] kaiso commented on #35
Hello,

can you paste your code please I did not understand your issue.

[2018-11-19 13:32] inblind opened #36 "RelMongo not working with AbstractConfiguration (MongoDB 4.0 Transactions)"
Hi All,

Issue:
For enabling transactions on MongoDB 4.0 it is required to use AbstractConfiguration. When I add this configuration RelMongo stops working.

Implementation:

public class MongoTransactionConfig extends AbstractMongoConfiguration {

    @Bean
    MongoTransactionManager transactionManager(MongoDbFactory dbFactory) {
        return new MongoTransactionManager(dbFactory);
    }

    @

[2018-11-27 08:51] kaiso commented on #36
Hi Rafael,

I did not experiment mongodb transactions yet but I will test it for you and check the problem with RelMongo

[2018-12-02 19:40] kaiso commented on #36
Hi, I released a new version [3.0.0](https://github.com/kaiso/relmongo/releases/tag/v3.0.0) which is compatible with transactions and MongoDB 4.0, enjoy ! and do not forget to star the repository.
be free to report any issue and close this issue if your tests are concluding

Thank you,

[2018-12-02 19:43] inblind commented on #36
Wow! thanks for that!! awesome job!

[2018-12-06 10:34] #36 closed

[2018-12-06 10:35] #35 closed

[2018-12-06 10:35] kaiso commented on #35
Hello, RelMongo does not support references in subcollections

[2019-01-16 18:43] sgornostal opened #38 "Can't create relation with `Long` identifier"
I'm trying to create relation with `Long` id. Application throws next exception:

[code]

[2019-01-18 11:59] kaiso commented on #38
Hello, it is the normal behavior, MongoDB ids can not be of type Long and must be compatible with their standard. So in RelMongo Identifier must either be of type String or type ObjectId.

[2019-01-27 08:07] mojo2012 opened #39 "Add ManyToMany annotation"
It would be nice to have a `ManyToMany` annotation that works similar to the JPA annotation.

[2019-01-30 16:58] kaiso commented on #39
I agree, it will study the feasability of it.

[2019-02-07 17:47] #38 closed

[2019-03-13 10:39] kaiso opened #40 "Optimize document hierarchy scan"
do not scan all documents hierarchy but only mongodb entities

[2019-04-12 18:41] anz000 opened #41 "Failed in bidirectional mapping when one of the audit fields gets updated."
I have manyToOne and oneToMany relationship like
[code]

[code]

This fails because the auditing field lastModifiedDate, gets updated (I think) and the save method fails. removing the auditing field works fine.
`
org.springframework.data.mapping.MappingException: Cannot lookup property @io.github.kaiso.relmongo.annotation.ManyToOne(mappedBy=gists, fetch=LAZY)private com.timecloud.source.entity.poj

[2019-04-26 21:32] kaiso commented on #41
when you implement a bidirectional mapping you have to use the ˋmappedBy` attribute in one side of the mapping. Have you done so ?

[2019-05-15 09:55] kaiso commented on #41
Sorry I will close this issue, I'm able to use auditing annotations without any problem, please take a look at relmongo tests to see an example on that.

[2019-05-15 09:55] #41 closed

[2019-06-07 10:07] #40 closed

[2019-09-25 20:53] anz000 opened #43 "missing mappedBy and null childs with OneToMany association"
I'll take the example you have posted in the wiki: (Person and Cars)

[code]

[code]

[code]

I've seen instances where saving `car2` creates `null` (default values) of the class. Am I doing something wrong?

Apparently, when `this.getCars()` is called it loads the first car with the correct id but all of the other properties are empty/class defaults (and not the saved value).

[2019-09-25 21:06] anz000 commented on #43
I think there might a missing `mappedBy` on a `@OneToMany`.

[2019-09-26 16:03] kaiso commented on #43
Regarding the fact that there are no `mappedBy` in the `@OneToMany` it is a choice for performance and convenience, by using the annotation properly they achieve the two way relationship very well.

Regarding your problem, the absence of the car in the second call of save is due that after the first call you have not loaded the `Person`entity so RelMongo can not see the Id affected by `MongoDB`so

[2019-09-26 17:53] anz000 commented on #43
My bad .. there was a typo in the code while adding the second car.

[code]
I was having problem with nulls for the first car values when trying to save the second car.

My expectation was `p.getCars()` should get all the existing cars, and add a new `car2` when I call `add()` and link it to the person. I have some properties of car that cannot be null. Even if null could be accepted, it would end

[2019-09-27 08:04] kaiso commented on #43
The behaviour is that the children will change when you update the parent, but it keeps the Ids, cascading changes means cascading operations so updating person will update cars and that is the desired behavior of the framework.

Regarding the second question it is not necessary unless you want to use the person entity for some logic and saving it later so like `Java Persistence API` you should se

[2019-09-27 08:04] #43 closed

[2019-10-11 08:05] kaiso commented on #39
Hello, I've tried some implementation but currently the performance of lookups are very poor in addition MongoDB has no tools to make joins so I think that delivering such feature will not be suitable at the moment. So you have to implement it your way with queries. May be in the feature we will have other tools to do that.

[2019-10-11 08:05] #39 closed

[2019-10-12 18:31] mojo2012 commented on #39
Damn :-\ Thanks for your efforts anyways!

[2019-11-08 14:08] KOSSOKO opened #44 "E11000 duplicate key error collection"
Hi,
First thanks for the wonderfull plugin.

I have two classes Agency and Country with OneToOne relation

[code]

[code]

**My use case :**
- I Created many countries first, then I created each Agency by giving to each agency the country code.

**Problem:**
When I create a country with an agency to null, the first time it is good. The 2nd time, I got the error

[code]

This is probably do to the

[2019-11-09 00:13] kaiso commented on #44
Hello, Thank you for using **RelMongo**
 I think your problem is not related to **RelMongo**, cascading operations is optional and configurable.
You have _@Indexed_ annotation on _agencyCode_ so MongoDB does not allow it to be null, so you have to provide a value for this attibute. can you test by providing values for all indexed attributes before saving? thanks.

[2019-11-14 22:05] santino83 commented on #44
Hello, I have the same problem with a different annotation: OneToMany

I have to documents, Parent <- OneToMany -> child . The child document has indexes. For design reasons, first I insert the children, then I create the parent, fill up the children, and save. The first time I save one Parent, all works, but if I insert a new Parent, Mongo throws the exception "Duplicate Key" (referencing the fir

[2019-11-15 09:17] kaiso commented on #44
Hello @santino83 can you check where the index is created, is it in the parent or child?

[2019-11-18 10:39] kaiso commented on #44
Hello @santino83 @KOSSOKO , I've reproduced the error you had and presently the @indexed does not work properly when it is used on child associations with relmongo, in fact spring is considering the documents as embedded so it will create indexes in parent collections.

A workaround to this is to create the indexes through mongoOperations (mongoTemplate) on the child class directly instead of usin

[2019-11-18 10:53] KOSSOKO commented on #44
Thanks for your answer. Yes, it's a good workaround to create the index dynamically. I will try it and give a feedback.

[2019-11-18 11:07] santino83 commented on #44
Thank you, I'll try the workaround too. Infact, the error was prettly clear, mongoTemplate tries to manipulate indexes, beacuse knows nothing about your annotation. I think it needs a lot of investigation to find out a robust solution to avoid this behavior.

Thanks for your job

[2019-11-18 21:55] santino83 commented on #44
I can confirm you that removing indexed annotations on child document fix the error. Obviously, I had to create indexes programmatically using mongoTemplate IndexOperations. I'll look forward to read news about a fix for this "bug". Thank you

[2019-11-19 12:29] kaiso commented on #44
hi @santino83 @KOSSOKO , I released a candidate version **3.1.0-RC1** which include a fix, can you test it with _@indexed_ annotation and give your feedback please. I will release the **3.1.0** version if your tests are concluding.

[2019-11-19 22:21] santino83 commented on #44
I cannot reproduce the error, as I cannot use v3.1.0 in my main project (as it uses spring boot < 2). I've created a new project with just spring boot/spring starter mongo, embeeded mongodb and 2 documents, Parent and Child with OneToMany. I had different results, sometimes 3.0.1 throws error, sometimes no error. I'm only sure that 3.1.0-RC1 never throws errors (I tested with spring boot >= 2.0 <

[2019-11-20 09:02] kaiso commented on #44
Hello @santino83 ,
- first you have to use the version **3.1.0-RC1** which contains the fix and not the 3.0.1.
- I recommand the use of the last spring-boot version **2.2.1.RELEASE** which contains the same version of spring-data-mongodb.

it's  good news that it does not throw errors. I will release the final version soon.

[2019-11-20 09:09] KOSSOKO commented on #44
Hum, ok, so I need also to upgrade my Spring version from **2.2.0.RELEASE** to **2.2.1.REALEASE** to test. Ok, I will give test and give you a feedback

[2019-11-24 21:08] #44 closed

[2019-11-24 21:09] kaiso commented on #44
The Final release **RelMongo** **3.1.0** has been published.

[2020-01-20 12:29] anz000 opened #47 "Cascade Type REMOVE not deleting child attributes on Query."
I have entities similar to this.

[code]

[code]

I've implemented something like
[code]

when I do `parentRepository.deleteParentByProperties("param1", "param2");`
-> It deleted the parent but not the child (Note: this is a custom method implemented with a Query - but still native?)

when I do `parentRepository.delete(parent);`
-> It deletes the child as well (works as expected). (Note : This is

[2020-01-20 13:59] kaiso commented on #47
Hello, unfortunately, like in JPA, A delete query operation only applies to entities of the specified class and its subclasses. It does not cascade to related entities.
So you can either call find with criteria and loop on the results by calling repository.delete(entity). in most of cases it is the recommanded solution. Or creating a custom implementation where you remove by a criteria from both c

[2020-01-21 06:27] anz000 commented on #47
Thanks. I've decided to just fetch the `list of parents` and call `parentRepository.deleteAll(parentList)`. This deletes the associated children as well.

I've read on the documentation and still am confused about the `mappings` I have (`mappedBy`) and `orphanRemoval`. Based on the code I provided earlier, is there a scenario where a parent might get deleted when a child gets deleted? Quick mock t

[2020-01-21 10:53] kaiso commented on #47
the `orphanRemoval` and cascading only concerns children so the parent won't be deleted.
regarding the second question, the `mappedBy` attribute allows simply to fetch the other direction of the mapping (aka the owner of the relation).

[2020-01-21 16:26] anz000 commented on #47
The owner of the relation and parent of the relation is the same thing? This is where my confusion lies. Does putting `mappedBy` in one class make it parent or the child of the relation? Is my class structure (one that I posted in the first comment) good enough to assume that `Parent`class is the `owner` of the relation? Sorry, this has gone beyond the scope of the issue, but any insight would be

[2020-01-22 13:45] kaiso commented on #47
exaclty like your example the Parent class is the owner. the mappedBy attribute does not make the owner of the relation and to go further the owner is the document that stores references to the other collection in MongoDB, in your case the references will be stored in the parent collection

[2020-01-28 09:01] #47 closed

[2020-03-16 19:41] anz000 opened #48 "MappingException when removing based on query using lt"
I was working on relmongo `v3.0.0`. Recently, I realized that there were newer versions avaialble, so I decided to upgrade to `v3.2.0`. However, one of the test cases that was passing previously started to fail on me.

Code
[code]
The above code was/is working with `v3.0.0`., but not with versions `greater than v3.0.0.` (v3.0.1, v3.1.0 and v3.2.0).

[Note :: I played around with other `mongoTempla

[2020-03-17 17:27] kaiso commented on #48
Hello @anz000 Thank you for reporting the problem, I will test on my side and get back to you

[2020-03-20 00:41] kaiso commented on #48
@anz000 i've released the version **v3.2.1** with a fix for the problem, please test and give me your feedback.

[2020-03-24 22:42] anz000 commented on #48
My test cases passes with v3.2.1. Thanks.

[2020-03-24 22:42] #48 closed

[2020-04-23 20:50] kaiso opened #49 "index problems and @Query with association._id not working with spring data 2.2.6"

[2020-05-27 22:23] kaiso commented on #49
Fixed in v3.3.3

[2020-05-27 22:23] #49 closed

[2020-06-25 13:53] sverin opened #52 "Add multi level relations loading support"
I having an issue when I fetching objects that have relationship in more than one level. I have 3 different classes that reference to each other by a one-to-one relationship, as shown below.

[code]

[code]

[code]

Through a spring-controller and spring repository I can add some data to MongoDB database. But then my issue starts. As you can see in the repsonse below the option does not have any t

[2020-06-25 16:05] kaiso commented on #52
Hello Sevrin,

Thank you for using RelMongo, currently it does not support multi-level relationships loading it is a limitation you can submit an issue of type enhancement and I will see if it is possible to do that.
Do not forget to star the repository ;)

Regards,
kaiso.

Sent from my iPhone

[2020-06-25 22:10] sverin commented on #52
Thank you for your quick response. Its a great library, and this would make it even better.

[2020-06-26 13:35] sverin opened #53 "Bug when using multiple relationships to same collection in one class"
I found another thing that I think is a bug. In our model we would like to have a one-to-many relationship to another collection but in two different fields. But that seems to screw things up.

In the example below I have two fields on the `Offer` class, `products` and `addons`, referring with a OneToMany relationship to the same collection `products`. The products for both fields has been saved e

[2020-06-26 14:09] kaiso commented on #53
Hello

Your problem is that you are using the same name in the @JoinProperty annotation.

Regards,
Kaiso

Sent from my iPhone

[2020-06-26 14:53] sverin commented on #53
Thank you, I though that referred to the collection name to join with. No it works fine.

[2020-06-26 14:53] #53 closed

[2020-06-29 22:51] kaiso commented on #52
Hello @sverin I've published a release candidate version **3.4.0-RC1** to address the multi level loading feature.
can your test and give me your feedback please?
Thank you

[2020-06-30 17:30] sverin commented on #52
I have tried it today and it works perfectly. It all works as I expected now. I will try it out some more until friday and if I have some issues I'll let you know. Thanks for your quick response. This framework just become even better.

[2020-07-06 08:39] sverin commented on #52
I have tried it now for a couple of days and it works fine. If you feel comfortable with the code you can close the issue and make a final release.

[2020-07-07 21:23] kaiso commented on #52
Thank you @sverin I will release the version then.

[2020-07-07 21:23] #52 closed

[2020-09-15 11:21] PraveenBiradar opened #57 "How to update and delete child document in oneToMany relationship"
How to update and delete child document using parentId and childId in oneToMany relationship

Update:		@PutMapping("/posts/{postId}/comments/{commentId}")
			public Comment updateComment(@PathVariable (value = "postId") Long postId,@PathVariable (value =
                                                          "commentId"),Long commentId,@RequestBody Comment commentRequest) {
				// Update Logic

[2020-09-23 16:27] kaiso commented on #57
@PraveenBiradar In order to implement the the update and logic you have to look at spring data mongodb docs.
and then you implement the cascading in parent/child relationship as explained in https://github.com/kaiso/relmongo/wiki/RelMongo-Cascading

[2020-09-23 16:42] #57 closed

[2020-10-16 13:59] i-telligence-af commented on #38
Hi, sorry to post in a closed issue. I ran into the same problem and tried to produce a workaround, which failed due to other reasons. I think that MongoDB now supports Long (and other types) as the _id Field.

https://docs.spring.io/spring-data/mongodb/docs/1.3.3.RELEASE/reference/html/mapping-chapter.html

_**7.1.1 How the '_id' field is handled in the mapping layer**
MongoDB requires that you h

[2020-10-16 14:34] kaiso commented on #38
Hello,

Thank for you interest on RelMongo,
can you create a new issue please ?
I will check that in the coming few days.

Thank You,

[2020-10-16 14:38] i-telligence-af opened #59 "Support for _id of type Long"
According to the mapping chapter of mongodb 1.3.3.RELEASE, the _id field can be of any type other than arrays.

https://docs.spring.io/spring-data/mongodb/docs/1.3.3.RELEASE/reference/html/mapping-chapter.html

_7.1.1 How the '_id' field is handled in the mapping layer
MongoDB requires that you have an '_id' field for all documents. If you don't provide one the driver will assign a ObjectId with a

[2020-10-16 14:39] i-telligence-af commented on #38
Hey, sure

https://github.com/kaiso/relmongo/issues/59

Many thanks and happy weekend!

____________________________________

i-telligence.de <http://www.i-telligence.de/> gmbh

alex fuckert
georgenstraße 123
80797 münchen

mail	alexander.fuckert@i-telligence.de <mailto:alexander.fuckert@i-telligence.de>
tel	+49-(0)89-890 5566-66

ustid DE266803025

hrb 181321
amtsgericht münchen

geschäftsführung

[2020-10-20 00:32] kaiso commented on #59
Hello @i-telligence-af thank you for your interest on RelMongo, I've released a new version (**3.4.1-RC1**) can you test and give me your feedback please?

[2020-10-20 07:56] i-telligence-af commented on #59
Hi @kaiso , thanks for the quick reply!

Yes, that seems to work perfectly! Shall I close this issue now, or do you want to close it when the changes are in github?

[2020-10-20 08:08] i-telligence-af opened #60 "Support for annotations within nested objects"
I have a scenario where an object has an embedded object (field) which itself is persisted as part of the outer @Document but annotated fields within the embedded object should be scanned for @OneToOne and @OneToMany annotations.

Example:

[code]

Currently, the annotations on the FooDTO field in MetaDTO would never be read.

How about a @Nested annotation, which would then perform the same funct

[2020-10-20 09:02] kaiso commented on #59
Hello @i-telligence-af , glad that it fixes your problem, I will close the issue and also your pull request since I fixed other aspects on other commits. feel free to submit issues if needed.

[2020-10-20 09:02] #59 closed

[2020-10-20 09:13] kaiso commented on #60
Hello @i-telligence-af thank you for your interest in RelMongo, currently this problem can be adressed by minimal change in the entity by putting the foo property outside. So I do not see and enhancement in that, I will close this issue and may be reconsider the use case if many people have this need.

Thank you and do not forget to star RelMongo ;)

[2020-10-20 09:13] #60 closed

[2020-10-20 09:19] i-telligence-af commented on #60
Hi @kaiso unfortunately modifying the structure of my entities is not an option currently (I don't have control), so I will keep using my fork for now. I'll try to keep it inline with your updates, so that if you ever want to include this enhancement it should be easy.

Thanks for the great work.... starred ;)

[2020-11-02 14:43] xetra11 opened #62 "[BUG] (From Example): Field 'cars' second contructor parameter for 'name' is always null?"
Using:
[code]

Having the following class setup:
[code]

And using it as followed in a unit test:

[code]

The result is always an exception:

[code]

[2020-11-02 14:50] xetra11 commented on #62
Having a look into `carRepository` before `personRepository.findAll()` the car document seems to be successfully persisted

[2020-11-02 15:02] xetra11 commented on #62
Ok I think I found the issue.
In `PersistentPropertySavingCallback` Line 115
[code]
Only a getter for `collection()` is used. However like in my example you can define the collection name also by omitting `document=` and just using the value attribute.

[code]

[2020-11-02 15:19] xetra11 opened #63 "Read collection name from @document value in addition to collection attribute."
While debugging #62 I found some issue when not using `@Document(collection="cars")`
In `PersistentPropertySavingCallback` Line 115
[code]
Only a getter for `collection()` is used. However like in my example you can define the collection name also by omitting `document=` and just using the value attribute.

[code]
The logic therefore ignores the collection name. Unfortunately it does not solve the

[2020-11-02 19:45] kaiso commented on #62
thank you @xetra11 for using Relmongo,
can you test with :
- removing the reactive mongo dependency
- using @Document(collection="cars")

Regarding the support of value in the @document annotation, I will fix it the coming release.

[2020-11-02 19:47] kaiso commented on #63
Hello @xetra11 thank you for reporting the issue, it will be fixed in the coming release.

[2020-11-02 22:19] xetra11 commented on #63
@kaiso I already created a pull request

[2020-11-07 20:58] kaiso commented on #63
@xetra11 Fixed in version [3.4.1](https://github.com/kaiso/relmongo/releases/tag/v3.4.1)
please feel free to report new issues if any and thank you for using **RelMongo**

[2020-11-07 20:58] #63 closed

[2020-12-10 14:49] munish-usit opened #66 "Exception - unable to set mappedBy child object"
I am using below structure

class ProfileEntity{
.......
@OneToMany(fetch=FetchType.EAGER, cascade=CascadeType.PERSIST)
	@JoinProperty(name="emailNotificationsId")
	private List<EmailNotificationsEntity> emailNotifications;
}

public class EmailNotificationsEntity {

	@Id
	private Integer emailNotificationsId;
	@Field(name="email_notifications_name")
	private String name;

	@ManyToOne(mappedBy = "

[2020-12-10 16:50] kaiso commented on #66
Hello @munish-usit thank you for using RelMongo, your issue is that `@ManyToOne` can only be used on an attribute of type object and not collection so in your case you should have :
`@ManyToOne(mappedBy = "emailNotifications")
private ProfileEntity profile; `

[2020-12-15 00:49] loehnertz commented on #52
@sverin
I have _almost exactly_ the same setup as you posted in your first comment above.
The only differences are that I have `@OneToOne` relations and that I am using Kotlin instead of Java (I don't think this causes a problem in this particular case, but it could potentially).
Apart from that, it's the same. I am running on v3.4.1. I also have three collections with the same nesting structure.

[2020-12-17 09:46] munish-usit commented on #66
Hello @kaiso ,
Thanks for your solution. Your solution has solved the run time error, but unfortunately, in my use case I have to use List<ProfileEntity> profiles because its a many to many relationship.
One profile can have many email notifications.
One email notification can be subscribed by many profile.

Do you have any plan to support List in many to many relationship ?

Thanks,
Munish

[2020-12-17 19:21] kaiso commented on #66
Hello @munish-usit Unfortunately I have no plan for that for now, I have studied the feature and the outcome was that it is very complex.

[2021-01-24 21:40] i-telligence-af opened #67 "PersistentPropertyPostLoadingCallback.close() never called.... memory leak?"
Hi Kaiso!

I'm getting OutOfMemory errors in my application and after analysing the heap dump, it looks like it may be due to the close() method of PersistentPropertyPostLoadingCallback never being called.

I do have to mention though, that I am running on a fork... which has a feature which you decided not to include (https://github.com/kaiso/relmongo/issues/60). So maybe it will only ever be me

[2021-01-24 23:16] kaiso commented on #67
Hello @i-telligence-af thank you for reporting the problem. I've removed this experimental caching mechanism and released a new version **v3.4.2**, can you check and close this issue please?

[2021-01-24 23:19] #66 closed

[2021-01-24 23:20] #62 closed

[2021-02-20 07:55] mistermusk opened #69 "Not all collections are shown via "show collections""
Hello @kaiso Kaiso!

I faced such problem:
I have two models linked via
`
@OneToOne (fetch = FetchType.EAGER)
@JoinProperty (name = "stats").
`
Everything works fine, but when I try "show collections" in console or view them in mongodb-compass, I see only one - the first (there should be two collections, as I understand it). Please tell me how to display the second collection.
Thank you in advance

[2021-02-20 18:42] kaiso commented on #69
Hello @mistermusk you should add `cascade=CascadeType.PERSIST` as explained [here](https://github.com/kaiso/relmongo/wiki/RelMongo-Cascading)

[2021-02-20 19:43] mistermusk commented on #69
@kaiso Thank you for the reply, found it already)

[2021-02-20 19:43] #69 closed

[2021-03-12 01:05] mistermusk opened #70 "JoinTable analogue"
Hello again @kaiso!
-
Could you kindly tell me if it is possible with relmongo:

Example with mysql:
`
@ManyToMany(fetch=FetchType.EAGER)
    @JoinTable(name = "users_roles",
               joinColumns = @JoinColumn(name = "user_id"),
               inverseJoinColumns = @JoinColumn(name = "role_id"))
`

Thank you in advance.
P.S. Sorry for writing here - haven't found your contact details. I will

[2021-03-13 22:06] kaiso commented on #70
Hello @mistermusk Thank you for using RelMongo, unfortunately there is no `@ManyToMany` annotation currently.

[2021-03-18 10:04] mistermusk commented on #67
@kaiso thanx for the reply!

[2021-03-18 10:05] mistermusk commented on #70
@kaiso thanx for the reply!

[2021-03-18 10:05] #70 closed

[2021-04-08 10:11] i-telligence-af commented on #67
Hi Kaiso,

sorry for the late reply. I've now merged your master with my fork. And will deploy to our frontends to test.

[2021-04-15 08:55] i-telligence-af commented on #67
Hey Kaiso,

looks all good, many thanks!

[2021-04-15 08:55] #67 closed

[2021-04-25 22:47] kaiso opened #72 "Enable multiple mongoTemplate support"
* Change the @EnableRelMongo annotation to have a new attribute mongoTemplateRef.
* Change the RelMongo logic to be able to target a specifig mongoTemplate.

[2021-05-19 13:12] atigm opened #74 "No bean named 'mongoTemplate' available"
I have a problem with some tests

I use

[code]

The error :

[code]

For other tests, its work fine :
[code]
and
[code]

[2021-05-19 13:32] atigm commented on #74
Its not working with @WebMvcTest(UtilisateursRest.class), I replace it by @SpringBootTest(webEnvironment = MOCK)

[2021-05-19 13:32] #74 closed

[2021-05-19 16:15] atigm opened #75 "Delete is not working in case JsonSubTypes"
When I create Collection1, all SubCollection are created.
But when I delete Collection1, SubCollection not deleted

[code]

[code]

[code]

[2021-05-24 00:26] kaiso commented on #75
@atigm as I see what should be deleted is superCollection collection because RelMongo only checks the **@Document** annotation.

[2021-05-31 15:43] atigm commented on #75
Thank you for your response.

I must use @Document on superCollection, because I use @id on this class.
I can't move @Documen and @Id on subcollections.

[2021-05-31 15:43] #75 closed

[2021-09-08 08:51] andy-mueller opened #77 "Order of List<> changes when using @OneToMany relation"
Hi,

we are using a one to many relation  from a PersistedCase to a PersistedPerson:

`@OneToMany(fetch = FetchType.EAGER, cascade = CascadeType.NONE)
@JoinProperty(name = "offers")
 private List<PersistedOffer> offers = new ArrayList<>();`

Then we add Persons in a specific order and save it. In 20-50% of the cases the order of the Persons lists order has changed  when I look into the DB.

Best
A

[2021-09-08 16:28] kaiso commented on #77
Hello @andy-mueller yes there is no guarantee on the order of the elements in the array, you should specify order through a comparator on java side.

[2021-10-06 09:57] twchiam opened #78 "Many to one N + 1 queries"
By executing a query to retrieve the parent documents that has a many to one relationship to child documents, relmongo will issue 100 queries to retrieve the child documents when the number of returned parent documents are 100. As the number of documents in mongodb increases, the queries being executed separately can easily affect the performance of the application. Is it possible to load all chil

[2021-10-06 10:09] twchiam opened #79 "Many to one N + 1 queries"
By executing a query to retrieve the parent documents that has a many to one relationship to child documents, relmongo will issue 100 queries to retrieve the child documents when the number of returned parent documents are 100. As the number of documents in mongodb increases, the queries being executed separately can easily affect the performance of the application. Is it possible to load all chil

[2021-10-06 10:10] #79 closed

[2021-10-12 21:11] kaiso commented on #78
Hello @twchiam please checkout https://github.com/kaiso/relmongo/wiki/How-to-make-aggregations-with-lookups-to-make-joins-between-collections

[2022-06-16 17:31] #77 closed

[2022-06-27 15:26] kushalgupta36 commented on #72
Hey
I guess I am getting this issue right now. I am using multiple mongo dbs in my springboot application and for that I am using custom mongo template names. So are there any workarounds for now?

[2022-06-28 17:01] kaiso commented on #72
Hello @kushalgupta36 can you use the version `3.5.0-RC4` which allows to specify the mongo template to target ?
use the following code :
[code]

[2022-06-28 17:21] kushalgupta36 commented on #72
Hey @kaiso, i used the version 3.5.0-RC4, it worked flawlessly. Thanks!